@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    font-family: Montserrat;
    color: white; 
}

.banner-section[data-anime]{
    transition: 0.8s;
}
[data-anime]{
    transition: 0.5s;
    opacity: 0;
}

[data-anime=left]{
    transform: translate3d(-100px, 0px, 0px);
}

[data-anime=right]{
    transform: translate3d(100px, 0px, 0px);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

/***HEADER***/
header{
    position: absolute; 
    z-index: 3;
}
img{
    position: relative;
    z-index: 1;
}



/*NAV MENU'S*/
nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 100%;
    line-height: 72px;
    text-align: center;
    transition: 0.6s;
    z-index: 99;
}

.special-menu{
    background-color: white;
    box-shadow: 0px 0.5px 1px 0px rgba(0,0,0,0.75);
}

.special-menu div.desktop-menu-items ul li a{
    color: black;
}

.special_li, .special-li a{
    transition: 0.5s;
}
.desktop-menu-items ul li.animation{
    position: relative;
    box-sizing: content-box;
    padding-left: 20px;
    transition: 0.6s;
    width: 50%;
}


.desktop-menu-items ul li.animation a{
    background-color: rgb(28, 212, 233);
    box-sizing: content-box;
    padding: 7px 22px ;
    border-radius: 20px;
    transition: 0.6s;
}

.logo{
    margin-left: 7.5%;
    height: 35px;
    min-height: 35px;
    min-width: 150px;
    width: 150px;
    background-image: url('../Imagens_teste-master/web/logo.png');
    background-size: 100% 100%;
    background-position: center;
    margin-top: 20px;
    background-repeat: no-repeat;
}

.desktop-menu-items{
    width: 57%;
    margin-left: 17.5%;
}

.desktop-menu-items ul{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
    margin-right: 15%;
}

.desktop-menu-items ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    transition: 0.3s;
    margin-right: 45px;
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(28, 212, 233)
}
/*end nav menu */



/*BANNER SECTION*/
.banner-section{
    width: 100%;
    height: 781.93px;
    min-height: 781.93px;
    text-align: center;
}

.img-desktop{
    height: 696px;
    min-height: 696px;
}
.bg{
    position: absolute;
    background-image: url('../Imagens_teste-master/web/bg5.png');
    background-size: 100% 100%;
    background-position: center;
    top: 694px;
    height: 2320px;
    width: 100%;
}

.banner-section .full-digital{
    width: 65%;
    height: 40%;
    font-weight: 300;
    margin: 0 auto;
    position: relative;
    top: 210px;
    text-align: center;
    line-height: 125px;
    
}

.full-digital h1{
    font-size: 7.35vw;
}

.banner-section  p{
    margin: 0 auto;
    margin-top: 200px;
    width: 53%;
    font-weight: bold;
    font-size: 13px;
}

.banner-section .banner-btn{
    width: 240px;
    margin: 0 auto;
    margin-top: 70px;
    background-color: rgb(28, 212, 233);
    padding: 20px 15px;
    border-radius: 35px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
/*end banner section*/
/***end header***/


/***MAIN SECTION ABOUT***/
.about{
    height: auto;
    width: 100%;
    position: relative;
    padding: 0 115px; 
    box-sizing: border-box;
    z-index: 2;

}

.sobre-container{
    width: 75%;
    height: 450px;
    position: relative;
}

h2{
    color: black;
    font-size: 40px;
    margin-top: 70px;
}

.sobre-container p{
    font-size: 14px;
}

.sobre{
    color: black;
    background-color: white;
    box-shadow: 1px -2px 27px -11px rgba(0,0,0,1);
    margin-top: 110px;
    padding: 35px;
    
}

.sobre p:not(:first-of-type){
    margin-top: 20px;
}



/*SERVICES SECTION*/

.servicos{
    width: 100%;
    height: 600px;
    margin-top: 280px;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.servicos h2{
    position: absolute;
    top: -40px;
}

.serv{
    margin-top: 150px;
    height: 480px;
    float: left;
    width: calc(100% / 3);
    background-image: url('../Imagens_teste-master/web/s3\ ft3.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 45px 0;
    position: relative;
    
}

.serv h3{
    white-space: nowrap;
    margin: 0 auto;
    justify-content: center;
    font-size: 1.4vw;
}

.serv p{
    width: 85%;
    margin: 0 auto;
    margin-top: 45px;
}

.serv p:nth-of-type(2){
    margin-top: 55px;
}
.servico1{
    background-image: url('../Imagens_teste-master/web/s3\ ft1.png');
    margin-left: -15px;
}
.servico2{
    background-image: url('../Imagens_teste-master/web/s3\ ft2.png');
}
.servico3{
    background-image: url('../Imagens_teste-master/web/s3\ ft3.png');
    margin-right: -15px;
}
/*end services section*/


/*DIFFERENCIAL SECTION*/

.diferente{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
    top: 175px;
    bottom: 30px;
    justify-content: space-between;
}

.diferente h2{
    position: absolute;
    top: -80px;
}

.dife{
    margin-top: 150px;
    height: 470px;
    width: 270px;
    background-position: center;
    background-size: 100% 100%;
    text-align: center;
    padding-top: 45px;
}

.dife img{
    height: 100px;
    margin-top: 25px;
}

.dife p{
    width: 68%;
    margin: 0 auto;
    margin-top: 30px;
}

.diferencial1{
    background-image: url('../Imagens_teste-master/web/s4\ ft1.png');
    margin-left: -14px;
}
.diferencial2{
    background-image: url('../Imagens_teste-master/web/s4\ ft2.png');

}
.diferencial3{
    background-image: url('../Imagens_teste-master/web/s4\ ft3.png');
    margin-right: -14px;
}
/*end differencial section*/
/***end main section about***/





/***FOOTER SECTION***/

footer{
    width: 100%;
    height: 737px;
    background-color: rgb(25, 25, 25);
    position: relative;
    z-index: 2;
    top: 288px;
    border-top: 55px solid rgb(209, 201, 9);
    border-bottom: 55px solid rgb(209, 201, 9);
}

.container{
    width: 100%;
    height: 590px;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateY(-30%) translateX(-50%);
    padding-top: 50px;
}

.f-inner{
    vertical-align: middle;
    width: 30%;
    height: 75%;
    padding-top: 70px
}

/*FOOTER LEFT SIDE*/
.footer-left{
    float: left;
    width: 50%;
    height: 100%;
    padding-left: 7%;
}

.footer-right{
    padding-right: 7%;
}

.icons{
    height: 40px;
    position: relative;
    padding-right: 32%;
}

.footer-media{
    height: 40px;
    width: 30%;
    min-width: 113px;
    float: right;
    text-align: center;
}

.footer-logo{
    height: 40px;
    width: 150px;
    background-image: url('../Imagens_teste-master/web/logo.png');
    background-size: 100% 100%;
    background-position: center;
    float: left;
}

.facebook {
    height: 30px;
    width: 30px;
    background-image: url('../Imagens_teste-master/web/facebook.png');
    filter: grayscale(1) invert(1);
    background-size: 100% 100%;
    float: right;
    margin-right: 40px;
    margin-top: 5px;
}

.linkedin{
    height: 30px;
    width: 30px;
    background-image: url('../Imagens_teste-master/web/linkedin.png');
    filter: grayscale(1) invert(1);
    background-size: 100% 100%;
    float: right;
    margin-right: 5px;
    margin-top: 5px;

}

.email-cel-container{
    height: 30px;
    width: 70%;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin-top: 30px;
    justify-content: space-between;
}

.email, .phone{
    display: flex;
    flex-direction: row;
}

.email i{
    line-height: 28px;
}

.phone i{
    line-height: 30px;
}

.email span, .phone span{
   line-height: 28px;
   margin-left: 13px;
   opacity: 0.7;
}

.splitter{
    height: 22px;
    width: 1px;
    margin-top: 2px;
    background-color: white;
    opacity: 0.4;
}

.address{
    position: absolute;
    margin-top: 30px;
    width: 450px;
    display: flex;
    flex-direction: row;
}

.br-mobile{
    display: none;
}

.address-span{
    font-size: 9px;
    opacity: 0.6;
    margin-left: 17px;
    text-align: left;
}


.footer-lorem{
    margin-top: 106px;
    position: relative;
    width: 425px;
}


.footer-lorem p{
    margin-bottom: 19.5px;
    width: 100%;
}

.p-mobile{
    display: none;
}
/*end footer left side*/




/*FOOTER RIGHT SIDE*/
.footer-right{
    float: right;
    height: 100%;
    width: 50%;
}

footer form{
    background-color: rgb(129, 129, 129);
    height: 94.5%;
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    float: right;
}

footer form input, select{
    border: none;
    margin-bottom: 30px;
    height: 60px;
    padding: 15px;
    font-size: 22px;
}

footer form input:focus, select:focus{
    border-left: 3px solid rgb(239, 230, 11);
    outline: none;
}

footer form input::placeholder{
    color: rgb(215, 215, 215);
}

footer form textarea{
    resize: none;
    border: none;
    padding: 15px;
    font-size: 22px;
}

footer form textarea:focus{
    border-left: 3px solid rgb(239, 230, 11);
    outline: none;
}

footer form textarea::placeholder{
    color: rgb(215, 215, 215);
}

footer form input[type=submit]{
    margin-top: 45px;
    height: 65px;
    background-color: rgb(28, 212, 233);
    border: 0;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

/*end footer right side*/
/***end footer ***/
/***END DESKTOP***/

/***645 ROWS***/


